<form method="post" action="{{ path('recette_delete', {'id': recette.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cette recette ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recette.id) }}">
    <button class="btn">{{ 'form.btn.delete'|trans }}</button>
</form>
