{% extends 'base.html.twig' %}

{% block title %}Toutes les recettes{% endblock %}

{% block body %}
    <h1>Toutes les recettes ({{ recettes|length }})</h1>

    {% include 'recette/_recettes_list.html.twig' with {
            'recettes_de_la_mort' : recettes
        }
    %}

{% endblock %}
