<div class="form-group row mb-2">
    {{ form_label(field, null, {'label_attr' : {'class' : 'col-form-label col-4' }}) }}

    <div class="col-sm-8">
        {{ form_widget(field) }}
    </div>
</div>
