{% extends 'base.html.twig' %}

{% block title %}Nouvelle Recette{% endblock %}

{% block body %}
    <h1>Ajouter une recette</h1>

    {{ include('recette/_form.html.twig') }}

    <a href="{{ path('recette_index') }}">Retour à la liste</a>
{% endblock %}
