body {
    background-color: lightgray;
}

/* CARTES */
.card{
}
.card-img-top{
    height: 20vw;
    object-fit: cover;
}
p.card-text {
    height: 50px;
}

/* FORMULAIRES */
label{
    margin-bottom: 0 !important;
}

textarea{
    width: 100%;
}

.delete-ingredient{
    vertical-align: top !important;
    padding: 6px 15px !important;
}


/* RESPONSIVE */
@media (max-width: 768px ) {
    p.card-text {
        height: 105px;
    }
    .card-img-top{
        height: 30vw;
    }
}
@media (max-width: 576px ) {

    p.card-text {
        height: 105px;
    }
}
